{% extends 'main/base.html' %}
{% load custom_filters %}

{% block title %}Search Results{% endblock %}

{% block content %}
    <h2>Search Results for "{{ query }}"</h2>
    {% if page_obj %}
        <div class="grid-container">
            {% for record in page_obj %}
                <div class="grid-item">
                    <a href="{% url 'record_detail' %}?title={{ record.title|urlencode }}&artists={{ record.artists|urlencode }}&image_url={{ record.image_url|urlencode }}&year={{ record.year|urlencode }}&avg_rating={{ record.avg_rating|urlencode }}&released={{ record.released|urlencode }}&notes={{ record.notes|urlencode }}&barcode={{ record.barcode|urlencode }}&tags={{ record.tags|urlencode }}&genres={{ record.genres|urlencode }}&styles={{ record.styles|urlencode }}&labels={{ record.labels|urlencode }}&formats={{ record.formats|urlencode }}&tracklist={{ record.tracklist|safe|urlencode }}">

                        {% if record.image_url %}
                            <img src="{{ record.image_url }}" alt="Image">
                        {% else %}
                            <p>No image available</p>
                        {% endif %}
                    </a>
                    <p>{{ record.title }}</p>
                    <p class="artists">{{ record.artists }}</p>
                </div>
            {% endfor %}
        </div>

        <!-- Paginación -->
        <div class="pagination">
            <span class="step-links">
                {% if total_pages > 1 %}
                    {% if current_page > 1 %}
                        <a href="?q={{ query }}&page=1">&laquo; First</a>
                        <a href="?q={{ query }}&page={{ current_page|add:"-1" }}">Previous</a>
                    {% else %}
                        <span class="disabled">&laquo; First</span>
                        <span class="disabled">Previous</span>
                    {% endif %}

                    <span class="current">
                        Page {{ current_page }} of {{ total_pages }}.
                    </span>

                    {% if current_page < total_pages %}
                        <a href="?q={{ query }}&page={{ current_page|add:"1" }}">Next</a>
                        <a href="?q={{ query }}&page={{ total_pages }}">Last &raquo;</a>
                    {% else %}
                        <span class="disabled">Next</span>
                        <span class="disabled">Last &raquo;</span>
                    {% endif %}
                {% endif %}
            </span>
        </div>




    {% else %}
        <p>No results found.</p>
    {% endif %}
{% endblock %}
