{% extends 'main/base.html' %}
{% load static %}

{% block title %}Crear Lista{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/collection.css' %}">

<div class="create-list-container">
    <h2 class="section-title">Crear nueva lista</h2>

    <form method="post" class="create-list-form">
        {% csrf_token %}
        <label for="name" class="form-label">Nombre de la lista:</label>
        <input type="text" id="name" name="name" class="form-input" placeholder="Ej. Favoritos 2024" required>

        <label for="description" class="form-label">Descripción de la lista:</label>
        <textarea id="description" name="description" class="form-input" rows="4" placeholder="Ej. Hits del año 2024"></textarea>

        <button type="submit" class="btn-primary">Crear</button>
    </form>
</div>
{% endblock %}

{% block scripts %}

{% endblock %}
