{% extends "main/base.html" %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/profile.css' %}">

<div class="profile-container">
  <div class="profile-header">
    {% if profile_user.profile_image %}
      <img src="{{ profile_user.profile_image.url }}" alt="Foto de perfil" class="profile-pic">
    {% else %}
      <img src="{% static 'profile_pics/default.png' %}" alt="Sin imagen" class="profile-pic">
    {% endif %}
    <div class="profile-details">
      <h2 class="profile-name">{{ profile_user.username }}</h2>
      {% if profile_user.name %}
        <p><strong>Nombre: </strong>{{ profile_user.name }}</p>
      {% endif %}
      {% if viewer == profile_user %}
        <p><strong>Email:</strong> {{ profile_user.email }}</p>
      {% endif %}
      <p><strong>Fecha de registro:</strong> {{ profile_user.date_joined|date:"d/m/Y" }}</p>
      {% if profile_user.bio %}
        <p><strong>Biografía:</strong> {{ profile_user.bio }}</p>
      {% endif %}
      {% if viewer == profile_user %}
        <a href="{% url 'edit_profile' %}" class="edit-btn">Editar perfil</a>
      {% endif %}
    </div>
  </div>

  <hr>

  <div class="section">
    {% if viewer == profile_user %}
      <h3>Tus álbumes favoritos</h3>
    {% else %}
      <h3>Álbumes favoritos de {{ profile_user.username }}</h3>
    {% endif %}
    <div class="favorites-grid">
      {% for record in favorite_records %}
        {% if viewer == profile_user %}
          <a class="favorite-link" href="{% url 'select_favorite_record' forloop.counter %}">
        {% endif %}
          <div class="album-tile">
            {% if record %}
              <img src="{{ record.cover_image }}" alt="{{ record.title }}">
            {% else %}
              <div class="placeholder">+</div>
            {% endif %}
          </div>
        </a>
      {% endfor %}
    </div>

  </div>

  <hr>

  <div class="section">
    {% if viewer == profile_user %}
      <h3>Tus listas</h3>
    {% else %}
      <h3>Listas de {{ profile_user.username }}</h3>
    {% endif %}

    {% if user_lists %}
      <div class="lists-grid">
        {% for lista in user_lists %}
          <a href="{% url 'list_detail' lista.id %}" class="list-card-link">
            <div class="list-card">
              {% if lista.cover_image %}
                <img src="{{ lista.cover_image.url }}" alt="Portada" class="list-thumb">
              {% else %}
                <img src="{% static 'images/placeholder-image.png' %}" alt="Sin imagen" class="list-thumb">
              {% endif %}

              <div class="list-info">
                <h4>{{ lista.name }}</h4>
                <p class= "card-description">{{ lista.description|default:"Sin descripción" }}</p>
                <p><strong>{{ lista.records.count }}</strong> álbumes</p>
              </div>
            </div>
          </a>
        {% endfor %}
      </div>
      {% else %}
        {% if viewer == profile_user %}
          <p>Aún no has creado ninguna lista.</p>
        {% else %}
          <p>Este usuario no tiene listas públicas.</p>
        {% endif %}
      {% endif %}
  </div>


{% endblock %}
