{% extends "main/base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/signup.css' %}">

<div class="form-container signup-form">
  <h2>Crear cuenta</h2>
  <form method="post">
    {% csrf_token %}
    
    <div class="form-group">
      {{ form.username.label_tag }}
      {{ form.username }}
    </div>

    <div class="form-group">
      {{ form.name.label_tag }}
      {{ form.name }}
    </div>

    <div class="form-group">
      {{ form.email.label_tag }}
      {{ form.email }}
    </div>

    <div class="form-group">
      {{ form.birthday.label_tag }}
      {{ form.birthday }}
    </div>

    <div class="form-group">
      {{ form.password1.label_tag }}
      {{ form.password1 }}
    </div>

    <div class="form-group">
      {{ form.password2.label_tag }}
      {{ form.password2 }}
    </div>

    {% if form.errors %}
      <div class="form-errors">
        {% for field in form %}
          {% for error in field.errors %}
            <p>{{ error }}</p>
          {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
          <p>{{ error }}</p>
        {% endfor %}
      </div>
    {% endif %}

    <button type="submit" class="btn-signup">Registrarse</button>
  </form>
</div>
{% endblock %}
